.typewriter {
  display: inline-block;
  font-family: 'Courier New', monospace;
}

.typewriter-cursor {
  display: inline-block;
  margin-left: 2px;
  animation: cursorBlink 1s step-end infinite;
}

@keyframes cursorBlink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
